<div>
    <div align="center">
        <h3>Welcome, <%= get_user %></h3>
        <p></p>
    </div>
    
</div>
<div align="center">
    <!-- <button class="btn btn-danger btn-lg" href="/log_out">Logout</button> -->
    <a href="/log_out">Logout</a>
</div>
