<div>
    <div align="center">
        <h3>Welcome, <%= h(session[:username]) || 'NoName' %></h3>
        <br>
    </div>
</div>

<div align="center">
    <a href="/log_out">Logout</a>
</div>

<div id="helpText" class="white_content">
  <a href = "javascript:void(0)" onclick = "document.getElementById('helpText').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>

  <h4>Do you really need help with this page?</h4>
  
  <a href = "javascript:void(0)" onclick = "document.getElementById('helpText').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>
</div>
<div id="fade" class="black_overlay"></div>
