<html ng-app="statsApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
	  	<script src="/js/main.js"></script>
	  	<script src="angular-video/js/anguvideo.js"></script>
	  	<script src="https://www.youtube.com/iframe_api"></script>
		<script src="angular-youtube-embed/src/angular-youtube-embed.js"></script>


	  	<link rel="stylesheet" type="text/css" href="/stylesheets/the.css">
	  	<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
	  	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	  	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
	    <title>Quidstats</title>

	</head>

	<body>
		<header>
		    <div class="nav">
		      <ul>
		      	<li class="username"><a href="/"><%=get_user()%> </a></li>
		        <li><a href="/record">Record Stats</a></li>
		        <li><a href="/stats">View Stats</a></li>
		        <li><a href="/watch">Watch Film</a></li>
		        <li><a href="/add_team">Add Team</a></li>
		        <li><a href="/add_video" class="active">Add Video</a></li>
		        <li class="help"><a>Help</a></li>
		      </ul>
		    </div>
	  	</header>

	  	<div class="container-fluid" align="center">
		  	<h2>To add a video, first, select a team. If your team isn't there, go to the "Add Team" tab.</h2>

		  	<select name="teamSelect" ng-model="teamVidToAdd" ng-change="getAllGames()">
				<% @teams.each do |team| %>
				<option value="<%= team['objectId']%>"><%=team['team_name']%></option>
				<%end%>
			</select>
		</div>

		<div ng-show="teamVidToAdd" class="container-fluid" name="postTeamSelection">

			<div class="container-fluid" align="center">
				<h2>Then, go to the video you wish to add on youtube. There, take the video id, as shown, and paste it in to the box</h2>
		  		<img src="/images/youtube_link_helper.jpg"/>
		  		<br>
		  		<br>
		  		<form>
		  			<input ng-model="vidPreview" type="text"><br>
		  		</form>
		  	</div>


		  	<div class="container-fluid" align="center">
		  		<h2 ng-show="vidPreview"> Is this your desired video?</h2>
		  		<div ng-show="vidPreview">
		  			<youtube-video video-id="vidPreview" player="videoPlayer" class="embed-responsive-item" player-width="'65%'"></youtube-video>


		  			<h2 ng-show="vidPreview"> Then hit the "Add" button, and you're good to go </h2>

		  			<button ng-show="vidPreview" class="btn btn-lg" ng-click="addVideo()">Add</button>
		  		</div>
		  		
		  	</div>

	  	</div>


	</body>
</html>