<!-- Teams list -->
<div id="team-year" class="container-fluid" align="center">
	<h2>To add or edit a team, first, select the team and the year.</h2>
	<p>Base the year on what year it is/was during the fall</p>
	<p>Hint: We are currently in fall year 2015</p>

    <select name="teamSelect" ng-model="teamToAdd" ng-change="getRoster()">
		<option value="new">New Team</option>
		<% @teams.each do |team| %>
		<option value="<%= team['objectId']%>"><%=team['team_name']%></option>
		<%end%>
	</select>

	<select ng-model="rosterYear" ng-change="getRoster()">
		<option value="2012">2012</option>
		<option value="2013">2013</option>
		<option value="2014">2014</option>
		<option selected value="2015">2015</option>
	</select>
</div>

<hr>

<div ng-show="teamToAdd && rosterYear">
	<div ng-show="teamToAdd == 'new'"id="newTeamContainer" class="container-fluid" align="center">
		Team Name: <input type="text" ng-model="newTeamName" />
	</div>

	<br>

	<!-- new player -->
	<div id="addPlayerContainer" class="container-fluid" align="center">
		First name: <input type="text" ng-model="newFirstName"/>
		Last name: <input type="text" ng-model="newLastName"/>
		<button type="submit" ng-click="addNewPlayer()">Add New Player</button>
	</div>


	<div class="container-fluid" align="center">
		<button ng-click="saveRoster()">Save Roster</button>
	</div>

	
	<!-- roster -->
	<div id="rosterContainer">
		<ul class="playerList" ng-model="roster">
			<li ng-repeat="player in roster">
				<p>{{player.first_name + ' ' + player.last_name}}</p>
			</li>
	</div>
</div>

<div id="light_2" class="white_content">
	<h4>This page is for adding / editing your roster.</h4>
	<h5>1. Select a team from the dropdown menu. Or, choose 'New Team' if you want to add a new team to the database.</h5>
	<h5>2. The next dropdown is for the year of the roster. So, if you want to add a team for this season, use 2015. The year is based on the fall year for that season.</h5>
	<h5>3. If you selected a new team, then give it a name, and start adding players.</h5>
	<p>4. Once you're done adding players, you MUST hit 'Save Roster'. If you don't, all your work will be for naught.</p>
	<h5>5. Once you've saved your roster, the page will reload. Double check everything worked by selecting your team from the dropdown. Your roster should populate.</h5>
	<h5>There currently is no way to edit a player if you misspell their name. Sorry. Live with the misspelling while I implement updating players</h5> 

	<a href = "javascript:void(0)" onclick = "document.getElementById('light_2').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>
</div>
<div id="fade" class="black_overlay"></div>
