<div name="header" class="container-fluid text-center">
  <select name="teamSelect" ng-model="team" ng-change="getAllGames()">
    <option value="">Select a team</option>
    <% @teams.each do |team| %>
      <option value="<%= team['objectId'] %>"><%= team['team_name'] %></option>
    <%end%>
  </select>
    <select name="statSelect" ng-model="statSelected">
    <option value="raw_stats">Raw Stats</option>
    <option value="beater_pairs">Beater Pairs</option>
    <option value="chaser_beater_beater">Chaser Beater Beater</option>
    <option value="chasers_pairs">Chaser Pairs</option>
    <option value="chasers_trios">Chaser Lines</option>
    <option value="quaffle_players">Quaffle Players</option>
    <option value="full_line_up">Full Lineup</option>
    <option value="possessions">Possessions (1 game)</option>
    <option value="possessions_agg">Aggregate Possesions</option>
  </select>

<button class="btn btn-default" ng-click="calcStats('<%= @userId %>')">Go</button>
</div>

<div name="modifiers" class="container-fluid" align="center">
  <input type="checkbox" ng-model="perMinute" ng-true-value="1" ng-false-value="0">Per Minute</input>
</div>

<!-- Games selector -->
<div class="container-fluid">
    <div class="row">
  <div class="col-lg-2">
    <h2>Games</h2>
    <button class="btn btn-default btn-sm" ng-if="!allSelected" ng-click="selectAll(true)">Select All</button>
    <button class="btn btn-default btn-sm" ng-if="allSelected" ng-click="selectAll(false)">Deselect All</button>
    <div ng-repeat="game in doneGames">
      <input type="checkbox" ng-model="selectedGames[game.vid_id]" ng-click="changeAllSelected()">{{game.description}}</input>
    </div>
  </div>
  
  <div class="col-lg-10" ng-show="statsDisp">
    
      <table ng-show="displayStatType == 'raw'" class="table table-striped tabled-condensed" ng-model="statsDisp">
        <thead class="statsHeaders">
          <th class="statsHeader" ng-repeat="cat in pmCategoriesToDisplay" ng-click="sortPMMap(cat)">{{cat}}</th>
        </thead>
        <tbody>
          <tr ng-repeat="row in statsDisp">
            <td>{{row[0].join(', ')}}</td> <!-- This is group, I think -->
            <td ng-repeat="(key, val) in row[1]">
              <p ng-if="pmCategoriesToDisplay[$index+1]=='TIME'">{{row[1][convertCategoryName(pmCategoriesToDisplay[$index+1])] | time:'ss':'mm:ss'}}</p>
              <p ng-if="pmCategoriesToDisplay[$index+1]!='TIME'">{{row[1][convertCategoryName(pmCategoriesToDisplay[$index+1])]}}</p>
            </td>
          </tr>

        </tbody>
      </table>
      
      <table ng-show="displayStatType == 'pm'" class="table table-striped table-condensed" ng-model="statsDisp">
        <thead class="statsHeaders">
          <th class="statsHeader" ng-repeat="cat in rawCategoriesToDisplay" ng-click="sortMap(cat)">{{cat}}</th>
        </thead>

        <tbody>
          <tr ng-repeat="row in statsDisp">
            <td ng-repeat="(key, val) in row">
              <p ng-if="rawCategoriesToDisplay[$index]=='TIME'">{{row[convertCategoryName(rawCategoriesToDisplay[$index])] | time:'ss':'mm:ss'}}</p>
              <p ng-if="rawCategoriesToDisplay[$index]!='TIME'">{{row[convertCategoryName(rawCategoriesToDisplay[$index])]}}</p>
            </td>
          </tr>
        </tbody>
      </table>
      
      <table ng-show="displayStatType == 'possessions'" class="table table-striped table-condensed" ng-model="statsDisp">
        <thead class="statsHeaders">
          <th class="statsHeader">Show Drives</th>
          <th class="statsHeader">Type</th>
          <th class="statsHeader">Bludgers</th>
          <th class="statsHeader">Result</th>
        </thead>
        
        <tbody>
          <tr ng-repeat-start="row in statsDisp track by $index">
            <td><button class="btn btn-xs" data-toggle="collapse" data-target="#{{row.objectId}}">Expand</button></td>
            <td>{{row.offenseDefense | statNameFilter}}</td>
            <td>{{row.bludger_count}}</td>
            <td>{{row.result | statNameFilter}}</td>
            <tr id="{{row.objectId}}" class="collapse.in" ng-repeat-end ng-repeat="drive in row['drives']">
              <td></td>
              <td>Drive</td>
              <td>{{drive.bludger_count}}</td>
              <td>{{drive.result | statNameFilter}}</td>
            </tr>
          </tr>
        </tbody>
      </table>
      
      <table ng-show="displayStatType == 'possessions_agg'" class="table table-striped table-condensed" ng-model="statsDisp">
        <thead class="statsHeaders">
          <th class="statsHeader">Type</th>
          <th class="statsHeader">Bludgers</th>
          <th class="statsHeader">Attemps</th>
          <th class="statsHeader">Goals Scored</th>
          <th class="statsHeader">Success Rate</th>
        </thead>
        
        <tbody>
          <tr ng-repeat="(key,val) in statsDisp track by $index">
            <td ng-repeat="(key1,val1) in key">{{val1}}</td>
            <td>{{key}}</td>
            <td>{{key.bludger_count}}</td>
            <td>{{val.count}}</td>
            <td>{{val.goals}}</td>
            <td>{{val.percent}}%</td>
          </tr>
        </tbody>
      </table>
      
      
    </div>
  </div>
</div>
<div id="helpText" class="white_content">
  <a href = "javascript:void(0)" onclick = "document.getElementById('helpText').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>
  
  <h4>This page is for viewing stats.</h4>
  <h5>1. Select a team from the dropdown menu. Then, a list of finished games will appear on the left side of the screen.</h5>
  <p>Don't see the game you want? It probably isn't finished yet. To 'finish' a game, record the stats for that game, and end it with a snitch catch. Only games with a snitch catch appear on the left side of the screen.</p>
  <h5>2. Select a category of stat to look at. Raw stats is a good place to start.</h5>
  <h5>3. Select some games by clicking the checkboxes next to each one.</h5>
  <h5>4. Hit 'Go'. Your stats should appear</h5>
  <p>You can sort by category (except names, because I can't get that to work for some reason). Just click on the category title and it will sort from most to least. Clicking again won't sort from least to most quite yet.</p>
  <p>That ? player you see... That's nobody. I really should prevent it from showing up, but for now, it isn't a big deal. It doesn't affect any stats.</p>

  <a href = "javascript:void(0)" onclick = "document.getElementById('helpText').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>
</div>
<div id="fade" class="black_overlay"></div>
