<!DOCTYPE html PUBLIC "-//IETF//DTD HTML 2.0//EN">
<html>
   <head>
   </head>
<body>
   	<h1>Future home of QuidStasio</h1>
   	<p>Seriously, that name is way better</p>
   	<% @all_teams.each do |team| %>
   		<p>
   			<a href="/stats/<%=team['objectId']%>/raw_stats"><%=team['team_name']%></a>
   		</p>
   	<%end%>
   <!-- <select>
   		<option>Select a team</option>
   		<% @all_teams.each do |team| %>
   			<option value = "<%=team['objectId']%>"><%=team['team_name']%></option>
   		<%end%>
   </select> -->
</body>
</html>