<!DOCTYPE html>
<html ng-app="statsApp">
  <head>
    <title> <%= @title || 'Quidstats' %> </title>
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/the.css">
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
  </head>

  <body ng-controller="StatsController">
    <header>
      <div class="nav">
        <ul>
          <li class="username"><a href="/"><%= get_user %> </a></li>
          <li><a href="/record">Record Stats</a></li>
          <li><a href="/stats">View Stats</a></li>
          <li><a href="/add_team">Add Team</a></li>
          <li><a href="/add_video">Add Video</a></li>
          <li class="help"><a>Help</a></li>
        </ul>
      </div>
    </header>

    <%= yield %>

    <script src="lib/angular/angular.min.js"></script>
    <script src="lib/anguvideo/js/anguvideo.js"></script>
    <script src="lib/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>
    <script src="lib/angular-scroll-glue/src/scrollglue.js"></script>

    <script src="https://www.youtube.com/iframe_api"></script>

    <script src="/js/main.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>