<!DOCTYPE html>
<html ng-app="app">
  <head>
    <title>QuidStats</title>
    <!-- I don't know why, but this works, and just this -->
    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"  media="screen">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"  />


    <link rel="stylesheet" href="/stylesheets/add_team.css">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/public.css">
    <link rel="stylesheet" href="/stylesheets/record_stats.css">
    <link rel="stylesheet" href="/stylesheets/scoreboard.css">
    <link rel="stylesheet" href="/stylesheets/the.css">
    <link rel="stylesheet" href="/stylesheets/switch.css">
    <link rel="stylesheet" href="/stylesheets/watch.css">
    
    <link rel="stylesheet" href="/lib/angular-snap/angular-snap.css">

    <script src="/lib/angular/angular.min.js"></script>
    <script src="/lib/anguvideo/js/anguvideo.js"></script>
    <script src="/lib/angular-youtube-mb/dist/angular-youtube-embed.min.js"></script>
    <script src="/lib/angular-scroll-glue/src/scrollglue.js"></script>
    <script src="/lib/angucomplete-alt/dist/angucomplete-alt.min.js"></script>
    <script src="/lib/snapjs/snap.js"></script>
    <script src="/lib/angular-snap/angular-snap.js" type="text/javascript" charset="utf-8"></script>
    <script src="/lib/ng-youtube-embed/build/ng-youtube-embed.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://www.youtube.com/iframe_api"></script>

    <script src="/js/main.js"></script>
    
  </head>

  <!--what if I do something tricky here, and the controller is a variable?-->
  <!--This will require some copy pasting, but I'm good with that-->
  
  <body ng-controller="<%= @controllerName %>">
    <snap-drawer>
      <h4 class="username"><%= h(session[:username]) || 'Please Login' %></h4>
      <ul class="nav">
        <li><a href="/">Home</a></li>
        <li><a href="/public/all">View Public Stats</a></li>
        <li><a href="/record">Coaching Tools</a></li>
        <li><a href="/stats">View Stats for a Team</a></li>
        <li><a href="/full_stats_view">View Stats for a Team (experimental)</a></li>
        <li><a href="/watch">Watch a Game</a></li>
        <li><a href="/add_team">Add / Edit a Roster</a></li>
        <li><a href="/add_video">Add a Video</a></li>
        <li snap-close onclick = "document.getElementById('helpText').style.display='block';document.getElementById('fade').style.display='block'"><a href="">Help</a></li>
      </ul>
    </snap-drawer>
    <snap-content>
      <header>
        <div class="pageHeader">
          <span class="openNav" snap-toggle="">Toggle Nav</span>
          <span class="pageTitle"><%= @title %></span>
          <span class="siteName">QuidStats</span>
        </div>
      </header>
      <%= yield %>
    </snap-content>
    <snap-dragger>
    </snap-dragger>
  </body>
</html>