<div class="container">
	<div class="welcome">
		<h3 align="center">Welcome to QuidStats</h3>

		<h4>You must be logged in to view any pages. If you keep ending up on this page, it's because you aren't logged in</h4>

		<p>The primary goal of this website is to provide a tool for taking statistics on quidditch matches. With that said, this is also a tool to help generate more public quidditch film. All team rosters and videos will be public. Any user can login, select any team, and watch any game that has been submitted. Users can also submit videos of any team. However, all stats will be private to a user. I understand teams like to keep their film private, but hopefully teams find that getting stats actually makes posting their video a net win for them. Videos must be public YouTube videos to work on this site. Don't try and cheat the system.</p>
	
	<p>Also, currently, there isn't a way to share stats with other users, so I suggest making an account for your entire organization.</p>
	</div>
</div>
<!-- login form -->
<div>
	<div class="login">
		<div class="container-fluid form" align="center">
			<h1>Login</h1>
			<form action="/log_in" method="post">
			 	<div class="form-group">
			    	<label for="loginUsername">Username</label>
			    	<input name="loginUsername" class="form-control" id="loginUsername" placeholder="Username">
			  	</div>
			  	<div class="form-group">
			    	<label for="loginPassword">Password</label>
			    	<input name="loginPassword" type="password" class="form-control" id="loginPassword" placeholder="Password">
			  	</div>
			  	<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>

		<div class="container-fluid form" align="center">
			<h1>Sign-Up</h1>
			<form action="/sign_up" method="post">
			 	<div class="form-group">
			    	<label for="signupUsername">Username</label>
			    	<input class="form-control" id="signupUsername" placeholder="Username">
			  	</div>
			  	<div class="form-group">
			    	<label for="signupPassword1">Password</label>
			    	<input ng-model="pass1" type="password" class="form-control" id="signupPassword1" placeholder="Password">
			  	</div>
			  	<div class="form-group">
			    	<label for="signupPassword2">Confirm Password</label>
			    	<input ng-model="pass2" type="password" class="form-control" id="signupPassword2" placeholder="Confirm Password">
			  	</div>
			  	<button type="submit" class="btn btn-default" ng-show="checkPasswords()">Submit</button>
			  	<p ng-show="!checkPasswords()" style="color:red">Passwords do not match</p>
			</form>
		</div>
	</div>
</div>