<div class="login-container">
	<div class="left-side">
		<h2>Stats-Based Articles</h2>
		<a href="http://quidstats.tumblr.com/post/150659107470/snitchcatch1">Evan Batzer on snitch catch percentages</a>
		</br>
		<a href="https://www.davidbrownman.com/blog/2016/08/19/quidditch-by-the-numbers/">David Brownman on game length</a>
	</div>	
	
	<div class="right-side" ng-show="<%= !@logged_in %>"> 
		<div class="login-form" align="center">
			<h1>Login</h1>
			<form action="/log_in" method="post">
			 	<div class="form-group login-section">
			    	<label for="loginUsername">Username</label>
			    	<input name="loginUsername" class="form-control" id="loginUsername" placeholder="Username">
			  	</div>
			  	<div class="form-group login-section">
			    	<label for="loginPassword">Password</label>
			    	<input name="loginPassword" type="password" class="form-control" id="loginPassword" placeholder="Password">
			  	</div>
			  	<button type="submit" class="btn btn-default">Submit</button>
			</form>
		</div>
	
		<div class="login-form" align="center">
			<h1>Sign-Up</h1>
			<form action="/sign_up" method="post">
			 	<div class="form-group login-section">
			    	<label for="signupUsername">Username</label>
			    	<input ng-model="signupUsername" name="signupUsername" class="form-control" id="signupUsername" placeholder="Username">
			  	</div>
			  	<div class="form-group login-section">
			    	<label for="signupPassword1">Password</label>
			    	<input name="signupPassword1" ng-model="pass1" type="password" class="form-control" id="signupPassword1" placeholder="Password">
			  	</div>
			  	<div class="form-group login-section">
			    	<label for="signupPassword2">Confirm Password</label>
			    	<input name="signupPassword2" ng-model="pass2" type="password" class="form-control" id="signupPassword2" placeholder="Confirm Password">
			  	</div>
			  	<button type="submit" class="btn btn-default" ng-show="checkPasswords() && checkUsername()">Submit</button>
			  	<p ng-show="signupUsername && !checkUsername()" style="color:red">Invalid username</p>
			  	<p ng-show="(pass1 || pass2) && !checkPasswords()" style="color:red">Passwords do not match</p>
			</form>
		</div>
	</div>
	
	<div class="right-side" ng-show="<%= @logged_in %>">
		<div align="center">
			<h3>Welcome, <%= h(session[:username]) || 'NoName' %></h3>
			<br>
		</div>
		<div align="center">
			<a href="/log_out">Logout</a>
		</div>
	</div>
</div>

<div id="helpText" class="white_content">
	<a href = "javascript:void(0)" onclick = "document.getElementById('helpText').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>
	
	<h4>This is a sign up page.</h4>

	<a href = "javascript:void(0)" onclick = "document.getElementById('helpText').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>
</div>
<div id="fade" class="black_overlay"></div>