<!-- Left side-->
<div class="side">
	<% @users.each do |user| %>
		<a href="/public/<%=user['objectId']%>/stats"><%= user['username'] %></a>
		<!-- A list of teams avaiable from this particular user -->
		<% list_of_teams = @user_public_map[user['objectId']] %>
		<h5>Stats available for:</h5>
		<ul>
			<% list_of_teams.each do |team| %>
				<li><%= team['team_name'] %></li>
			<%end%>
		</ul>
		<hr>
	<%end%>
</div>

<div id="helpText" class="white_content">
	<a href = "javascript:void(0)" onclick = "document.getElementById('helpText').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>
	
	<h4>This page is for viewing other users' stats.</h4>
	<h5>Users have the option of making their stats public. If they do, you will see their username and availabe stats here.</h5>
	<h5>Click on the username to view their stats. You will only be able to see stats that the user has made public.</h5>

	<a href = "javascript:void(0)" onclick = "document.getElementById('helpText').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>
</div>
<div id="fade" class="black_overlay"></div>