<html ng-app="statsApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
      	<script src="/js/main.js"></script>
      	<script src="js/bootstrap.min.js"></script>
      	<script src="angular-video/js/anguvideo.js"></script>
      	<script src="https://www.youtube.com/iframe_api"></script>
		<script src="angular-youtube-embed/src/angular-youtube-embed.js"></script>


      	<link rel="stylesheet" type="text/css" href="/stylesheets/the.css">
      	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
      	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />

      	<h1 class='text-center'>QuidMustaStasio</h1>
	</head>

	<body ng-controller="StatsController">

		<div name="header" class="container-fluid text-center">
			<select name="teamSelect" ng-model="team" ng-change="getGames()">
  				<option value="">Select a team</option>
  				<% @teams.each do |team| %>
  				<option value="<%= team['objectId']%>"><%=team['team_name']%></option>
  				<%end%>
  			</select>

  			<select ng-model="games" ng-change="loadVideo()">
  				<option ng-repeat="game in games" value="{{game.vid_id}}">{{game.description}}</option>
  			</select>
		</div>


		<div id="player"></div>
		<script>
			var tag = document.createElement('script');
			tag.src = "https://www.youtube.com/iframe_api";
      		var firstScriptTag = document.getElementsByTagName('script')[0];
      		firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);
      		var player;
      		function onYouTubeIframeAPIReady() {
        		player = new YT.Player('player', {
         		height: '390',
          		width: '640',
          		videoId: 'M7lc1UVf-VE',
          		events: {
            	'onReady': onPlayerReady,
            	'onStateChange': onPlayerStateChange
          			}
        		});
      		}
      		function onPlayerReady(event) {
        		event.target.playVideo();
      		}
      		var done = false;
      		function onPlayerStateChange(event) {
        		if (event.data == YT.PlayerState.PLAYING && !done) {
          			setTimeout(stopVideo, 6000);
          			done = true;
        		}
      		}
      		function stopVideo() {
        	player.stopVideo();
      	}
    	</script>



	</body>

</html>