<html ng-app="statsApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
  	<script src="/js/main.js"></script>
  	<script src="angular-video/js/anguvideo.js"></script>
  	<script src="https://www.youtube.com/iframe_api"></script>
		<script src="angular-youtube-embed/src/angular-youtube-embed.js"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/the.css">
  	<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
  	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
  	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />

    <title>Quidstats</title>
	</head>

	<body ng-controller="StatsController">
    <header>
      <div class="nav">
        <ul>
          <li><a href="/record" class="active">Record Stats</a></li>
          <li><a href="/stats">View Stats</a></li>
          <li><a href="/add_team">Add Team</a></li>
          <li><a href="/add_video">Add Video</a></li>
        </ul>
      </div>
    </header>

		<div name="header" class="container-fluid text-center">
      <!-- Team Selector -->
			<select name="teamSelect" ng-model="team" ng-change="getAllGames()">
  				<option value="">Select a team</option>
  				<% @teams.each do |team| %>
  				<option value="<%= team['objectId']%>"><%=team['team_name']%></option>
  				<%end%>
  			</select>
      <!-- Video Selector and allPlayers populator--> 
			<select ng-model="vidObj" ng-change="getAllPlayers()" ng-options="game.vid_id+','+game.fall_year as game.description for game in allGames">
			</select>
		</div>

    <!-- The visualization of the stats -->
    <div id="statsList" class="container-fluid">
      <div class="statsListItem" ng-repeat="statObj in allStats">
        <p>{{statObj.player_name}}</p>
        <p>{{statObj.player_in_name}}</p>
        <p>{{statObj.stat_name}}</p>
        <p ng-click="seekToTime(statObj.time)">{{statObj.time | time:'ss':'mm:ss'}}</p>
        <button class="btn btn-danger btn-xs" ng-click="deleteStat(statObj.objectId)">Delete</button>
      </div>
    </div>


    <!-- Video player object -->
    <div class="row">
      <div class="score col-xs-1">
        <p>HOME</p>
        <p ng-model="homeScore">{{homeScore}}</p>
      </div>
  		<div class="container-flud col-xs-10" align="center">
  			<youtube-video video-id="selectedVideo" player="videoPlayer" class="embed-responsive-item" player-width="'65%'"></youtube-video>
  		</div>
      <div class="score col-xs-1">
        <p>AWAY</p>
        <p ng-model="awayScore">{{awayScore}}</p>
      </div>
    </div>

    <!-- Buttons under the video -->
    <div class="container-fluid" align="center">
      <button class="btn btn-default" ng-click="addStat(null, null, 'START_CLOCK')">Game (Re)Start</button>
      <button class="btn btn-default" ng-click="addStat(null, null, 'PAUSE_CLOCK')">Game Stoppage</button>
      <button class="btn btn-default" ng-click="addStat(null, null, 'AWAY_GOAL')">Away Goal</button>
      <button class="btn btn-default" ng-click="addStat(null, null, 'SNITCH_ON_PITCH')">Snitch on pitch</button>
      <button class="btn btn-default" ng-click="addStat(null, null, 'AWAY_SNITCH_CATCH')">Opponent snitch catch</button>
    </div>

    <!-- Players on pitch -->
    <div class="container-fluid">
      <div ng-repeat="onPlayer in onFieldPlayers track by $index">
        <ul class="playerList">
          <!-- The onclick just changes the visibility of the popup div -->
          <a href = "javascript:void(0)" ng-click="startSub(onPlayer.objectId)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">{{onPlayer.first_name+' '+onPlayer.last_name}}</a>
          <li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'SHOT')">Shot</li>
          <li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'GOAL')">Goal</li>
          <li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'ASSIST')">Assist</li>
          <li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'TAKEAWAY')">Takeaway</li>
          <li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'TURNOVER')">Turnover</li>
          <li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'SNITCH_CATCH')">Snitch Catch</li>
        </ul>
      </div>
    </div>

    <!-- Div for picking subs, starts just not-visible -->
    <div id="light" class="white_content">
      <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>
      <a ng-repeat="allPlayer in allPlayers" ng-click="subPlayer(allPlayer.objectId)" href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">{{allPlayer.first_name+' '+allPlayer.last_name}}<br></a>
      <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>
    </div>
    <div id="fade" class="black_overlay"></div>





	</body>

</html>