<html ng-app="statsApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
      	<script src="/js/main.js"></script>

      	<script src="angular-video/js/anguvideo.js"></script>
      	<script src="https://www.youtube.com/iframe_api"></script>
		<script src="angular-youtube-embed/src/angular-youtube-embed.js"></script>


      	<link rel="stylesheet" type="text/css" href="/stylesheets/the.css">
      	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
      	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
        <title>Takin dem stats</title>
      	<h1 class='text-center'>QuidStasio</h1>
	</head>

	<body ng-controller="StatsController">

		<div name="header" class="container-fluid text-center">
      <!-- Team Selector -->
			<select name="teamSelect" ng-model="team" ng-change="getAllGamesAndPlayers()">
  				<option value="">Select a team</option>
  				<% @teams.each do |team| %>
  				<option value="<%= team['objectId']%>"><%=team['team_name']%></option>
  				<%end%>
  			</select>
      <!-- Video Selector -->
			<select ng-model="selectedVideo" ng-options="game.vid_id as game.description for game in allGames">
			</select>
		</div>


		<div class="container-fluid" align="center">
			<youtube-video video-id="selectedVideo" player="videoPlayer"></youtube-video>
		</div>

    <div class="row" margin="auto">
      <div class="col-md-1" ng-repeat="player in allPlayers">
        <!-- Players on pitch -->
        <ul class="playerList">
          <li class="playerName">{{player.first_name + " " + player.last_name}}</li>
          <li class="clickList" ng-click="addStat(player.objectId, null, 'SHOT')">Shot</li>
          <li class="clickList" ng-click="addStat(player.objectId, null, 'GOAL')">Goal</li>
          <li class="clickList" ng-click="addStat(player.objectId, null, 'ASSIST')">Assist</li>
          <li class="clickList" ng-click="addStat(player.objectId, null, 'TAKEAWAY')">Takeaway</li>
          <li class="clickList" ng-click="addStat(player.objectId, null, 'TURNOVER')">Turnover</li>
          <li class="clickList" ng-click="addStat(player.objectId, null, 'SNITCH_CATCH')">Snitch Catch</li>
        </ul>
      </div>
    </div>





	</body>

</html>