<html ng-app="statsApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
      	<script src="/js/main.js"></script>

      	<script src="angular-video/js/anguvideo.js"></script>
      	<script src="https://www.youtube.com/iframe_api"></script>
		<script src="angular-youtube-embed/src/angular-youtube-embed.js"></script>


      	<link rel="stylesheet" type="text/css" href="/stylesheets/the.css">
      	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
      	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
        <title>Takin dem stats</title>
      	<h1 class='text-center'>Statsio</h1>
	</head>

	<body ng-controller="StatsController">

		<div name="header" class="container-fluid text-center">
      <!-- Team Selector -->
			<select name="teamSelect" ng-model="team" ng-change="getAllGames()">
  				<option value="">Select a team</option>
  				<% @teams.each do |team| %>
  				<option value="<%= team['objectId']%>"><%=team['team_name']%></option>
  				<%end%>
  			</select>
      <!-- Video Selector and allPlayers populator-->
			<select ng-model="vidObj" ng-change="getAllPlayers()" ng-options="game.vid_id+','+game.fall_year as game.description for game in allGames">
			</select>
		</div>

    <!-- The visualization of the stats -->
    <ul class="stats">
      <li class="singleStat" ng-repeat="stat in allStats">
        <div>
          <p>{{stat.player_id}}</p>
          <p>{{stat.stat_name}}</p>
          <p>{{stat.time}}</p>
        </div>
      </li>
    </ul>




		<div class="container-fluid" align="center">
			<youtube-video video-id="selectedVideo" player="videoPlayer"></youtube-video>
		</div>

    <div class="row" margin="auto">
      <div class="col-md-1" ng-repeat="onPlayer in onFieldPlayers">
        <!-- Players on pitch -->
        <ul class="playerList">
          <!-- The onclick just changes the visibility of the popup div -->
          <a href = "javascript:void(0)" ng-click="startSub(onPlayer.objectId)" onclick = "document.getElementById('light').style.display='block';document.getElementById('fade').style.display='block'">{{onPlayer.first_name+' '+onPlayer.last_name}}</a>
          <li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'SHOT')">Shot</li>
          <li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'GOAL')">Goal</li>
          <li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'ASSIST')">Assist</li>
          <li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'TAKEAWAY')">Takeaway</li>
          <li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'TURNOVER')">Turnover</li>
          <li class="clickList" ng-click="addStat(onPlayer.objectId, null, 'SNITCH_CATCH')">Snitch Catch</li>
        </ul>
      </div>
    </div>

    <!-- Div for picking subs, starts just not-visible -->
    <div id="light" class="white_content">
      <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>
      <a ng-repeat="allPlayer in allPlayers" ng-click="subPlayer(allPlayer.objectId)" href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">{{allPlayer.first_name+' '+allPlayer.last_name}}<br></a>
      <a href = "javascript:void(0)" onclick = "document.getElementById('light').style.display='none';document.getElementById('fade').style.display='none'">Close<br></a>
    </div>
    <div id="fade" class="black_overlay"></div>





	</body>

</html>