<html ng-app="statsApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
      	<script src="/js/main.js"></script>
      	<script src="js/bootstrap.min.js"></script>
      	<link rel="stylesheet" type="text/css" href="/stylesheets/the.css">
      	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
      	<h1 class='text-center'>QuidStasio</h1>
  </head>

  <body ng-controller="StatsController">
  	<section ng-init="tab = 1">
	  	<div class="container-fluid text-center" >
	  		<select name="teamSelect" ng-model="team" ng-change="getGames()">
	  			<option value="">Select a team</option>
	  			<% @teams.each do |team| %>
	  			<option value="<%= team['objectId']%>"><%=team['team_name']%></option>
	  			<%end%>
	  		</select>

	  		<select name="gameSelect" ng-model="selectedGames" ng-options="game.vid_id as game.description for game in games" ng-change="switchGames()" multiple>
	  		</select>

	  		<select name="statSelect" ng-model="statSelected">
	  			<option value="raw_stats">Raw Stats</option>
	  			<option value="beater_pairs">Beater Pairs</option>
  				<option value="chasers">Chaser Groups</option>
  				<option value="quaffle_trios">Quaffle Trios</option>
  				<!-- <option value="seeker_performance">Seeker Performance</option> -->
  			</select>

  			<button class="btn btn-default" ng-click="calcStats()">Go</button>
  		</div>

  		<table ng-show="isPlusMinus" class="table" ng-model="statsDisp">
  			<thead>
  				<th>GROUP</th>
            	<th>PLUS</th>
            	<th>MINUS</th>
            	<th>NET</th>
            	<th>TIME</th>
         	</thead>
  			<tbody>
  				<tr ng-repeat="(key,val) in statsDisp">
  					<td>{{key}}</td>
  					<td ng-repeat="(key1, val1) in val">{{val1}}</td>
  				</tr>
  			</tbody>
  		</table>

  		<table ng-hide="isPlusMinus" class="table table-striped" ng-model="statsDisp">
  			<!-- <thead>
  				<th ng-repeat="(key, val) in statsDisp[Object.keys(statsDisp)[0]]">{{key}}</th>
  			</thead> -->
  			<thead>
            <th>FIRST</th>
            <th>LAST</th>
            <th>SHOTS</th>
            <th>GOALS</th>
            <th>ASSISTS</th>
            <th>TURNOVERS</th>
            <th>TAKEAWAYS</th>
            <th>YELLOW CARDS</th>
            <th>RED CARDS</th>
            <th>SNITCHES</th>
            <th>PLUSSES</th>
            <th>MINUSES</th>
            <th>TIME</th>
            <th>GAIN CONTROL</th>
            <th>LOSE CONTROL</th>
         </thead>
  			<tbody>
  				<tr ng-repeat="row in statsDisp">
  					<td ng-repeat="(key, val) in row"> {{val}} </td>
  				</tr>
  			</tbody>
  		</table>

  	</section>

  	<div>
  	</div>
  </body>
