<html ng-app="statsApp">
	<head>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
	  	<script src="/js/main.js"></script>
	  	<script src="angular-video/js/anguvideo.js"></script>
	  	<script src="https://www.youtube.com/iframe_api"></script>
		<script src="angular-youtube-embed/src/angular-youtube-embed.js"></script>

	  	<link rel="stylesheet" type="text/css" href="/stylesheets/the.css">
	  	<link rel="stylesheet" type="text/css" href="/stylesheets/header.css">
	  	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
	  	<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet" />
	    <title>Quidstats</title>
	</head>

  <body ng-controller="StatsController">
  	<header>
      <div class="nav">
        <ul>
          <li><a href="/record">Record Stats</a></li>
          <li><a href="/stats" class="active">View Stats</a></li>
          <li><a href="/add_team">Add Team</a></li>
          <li><a href="/add_video">Add Video</a></li>
        </ul>
      </div>
    </header>

  	<div name="header" class="container-fluid text-center">
  		<select name="teamSelect" ng-model="team" ng-change="getDoneGames()">
  			<option value="">Select a team</option>
  			<% @teams.each do |team| %>
  			<option value="<%= team['objectId']%>"><%=team['team_name']%></option>
  			<%end%>
  		</select>

  		<select name="statSelect" ng-model="statSelected">
  			<option value="raw_stats">Raw Stats</option>
  			<option value="beater_pairs">Beater Pairs</option>
			<option value="chasers_pairs">Chaser Pairs</option>
			<option value="chasers_trios">Chaser Lines</option>
			<option value="quaffle_players">Quaffle Players</option>
			<!-- <option value="seeker_performance">Seeker Performance</option> -->
		</select>

		<button class="btn btn-default" ng-click="calcStats()">Go</button>
	</div>

	<div name="modifiers" class="container-fluid">

	</div>

	<!-- Games selector -->
	<div class="container-fluid">
        <div class="row">
			<div class="col-lg-2">
				<h2>Games</h2>
		  		<div ng-repeat="game in doneGames">
					<input type="checkbox" value="game.vid_id" ng-click="toggleGame(game.vid_id)"> 
					{{game.description}}
				</div>
			</div>
	  	
			<div class="col-lg-10">
		  		<table ng-show="isPlusMinus" class="table" ng-model="statsDisp">
		  			<thead>
		  				<th>GROUP</th>
		            	<th>PLUS</th>
		            	<th>MINUS</th>
		            	<th>NET</th>
		            	<th>TIME</th>
		         	</thead>
		  			<tbody>
		  				<tr ng-repeat="(key,val) in statsDisp">
		  					<td>{{key}}</td>
		  					<td ng-repeat="(key1, val1) in val">
		  						<p ng-if="key1=='time'">{{val1 | time:'ss':'mm:ss'}}</p>
		  						<p ng-if="key1!='time'">{{val1}}</p>
	  						</td>
		  				</tr>
		  			</tbody>
		  		</table>

		  		<table ng-hide="isPlusMinus" class="table table-striped table-condensed" ng-model="statsDisp">
		  			<!-- <thead>
		  				<th ng-repeat="(key, val) in statsDisp[Object.keys(statsDisp)[0]]">{{key}}</th>
		  			</thead> -->
		  			<thead>
		            <th>FIRST</th>
		            <th>LAST</th>
		            <th>SHOTS</th>
		            <th>GOALS</th>
		            <th>ASSISTS</th>
		            <th>TURNOVERS</th>
		            <th>TAKEAWAYS</th>
		            <th>YELLOWS</th>
		            <th>REDS</th>
		            <th>SNITCHES</th>
		            <th>PLUS</th>
		            <th>MINUS</th>
		            <th>NET</th>
		            <th>TIME</th>
		            <!-- <th>GAIN CONTROL</th> -->
		            <!-- <th>LOSE CONTROL</th> -->
		         </thead>
		  			<tbody>
		  				<tr ng-repeat="row in statsDisp">
		  					<td ng-repeat="(key, val) in row"> 
		  						<p ng-if="key=='time'">{{val | time:'ss':'mm:ss'}}</p>
		  						<p ng-if="key!='time'">{{val}}</p>
	  						</td>
		  				</tr>
		  			</tbody>
		  		</table>
		  	</div>
	  	</div>
  	</div>

  	
  </body>
</html>
