<div name="header" class="container-fluid text-center">
	<!-- Team Selector -->
	<select name="teamSelect" ng-model="homeTeam" ng-change="getAllGames()">
		<option value="">Select a team</option>
		# <% @teams.each do |homeTeam| %>
		<option value="<%= homeTeam['objectId']%>"><%=homeTeam['team_name']%></option>
		<%end%>
	</select>
	<!-- Video Selector and allPlayers populator--> 
	<select ng-model="vidObj" ng-change="getAllPlayers()" ng-options="game.vid_id+','+game.fall_year+','+game.opponent_id as game.description for game in allGames">
    </select>
</div>

<div id="overlayFullBody">
    <div id="overlayVideoAndButtonsContainer">
        <div id="overlayVideoContainer">
            <youtube-video id="overlayVideo" video-id="selectedVideo" player="videoPlayer" player-vars="playerVars"></youtube-video>
        </div>
        <div id="overlayVideoControlButtons">
            <button type="button" class="btn" ng-click="instantReplay()">Skip Back</button>
            <button type="button" class="btn" ng-click="skipForward()">Skip Forward</button>
        </div>
    </div>
    <div id="overlayNonVideoContainer">
        <div id="overlayRostersColumn">
            <div id="homeRoster" class="roster">
                <p class="rosterTitle"><b>HOME</b></p>
                <p><b>Chaser</b></p>
                <div class="player" ng-repeat="onPlayer in onFieldPlayersHome.slice(0,3) track by $index">
                    <ul>
                        <p>{{onPlayer.first_name.slice(0, 2) + '. ' + onPlayer.last_name}}</p>
                    </ul>
                </div>
                <p><b>Keeper</b></p>
                <div class="player" ng-repeat="onPlayer in onFieldPlayersHome.slice(3,4) track by $index">
                    <ul>
                        <p>{{onPlayer.first_name.slice(0, 2) + '. ' + onPlayer.last_name}}</p>
                    </ul>
                </div>
                <p><b>Beater</b></p>
                <div class="player" ng-repeat="onPlayer in onFieldPlayersHome.slice(4,6) track by $index">
                    <ul>
                        <p>{{onPlayer.first_name.slice(0, 2) + '. ' + onPlayer.last_name}}</p>
                    </ul>
                </div>
                <p><b>Seeker</b></p>
                <div class="player" ng-repeat="onPlayer in onFieldPlayersHome.slice(6,7) track by $index">
                    <ul>
                        <p>{{onPlayer.first_name.slice(0, 2) + '. ' + onPlayer.last_name}}</p>
                    </ul>
                </div>
            </div>
            <div id="awayRoster" class="roster">
                <p class="rosterTitle" class="btn btn-link"><b>AWAY</p></b>
                <p><b>Chaser</b></p>
                <div class="player" ng-repeat="onPlayer in onFieldPlayersAway.slice(0,3) track by $index">
                    <ul>
                        <p>{{onPlayer.first_name.slice(0, 2) + '. ' + onPlayer.last_name}}</p>
                    </ul>
                </div>
                <p><b>Keeper</b></p>
                <div class="player" ng-repeat="onPlayer in onFieldPlayersAway.slice(3,4) track by $index">
                    <ul>
                        <p>{{onPlayer.first_name.slice(0, 2) + '. ' + onPlayer.last_name}}</p>
                    </ul>
                </div>
                <p><b>Beater</b></p>
                <div class="player" ng-repeat="onPlayer in onFieldPlayersAway.slice(4,6) track by $index">
                    <ul>
                        <p>{{onPlayer.first_name.slice(0, 2) + '. ' + onPlayer.last_name}}</p>
                    </ul>
                </div>
                <p><b>Seeker</b></p>
                <div class="player" ng-repeat="onPlayer in onFieldPlayersAway.slice(6,7) track by $index">
                    <ul>
                        <p>{{onPlayer.first_name.slice(0, 2) + '. ' + onPlayer.last_name}}</p>
                    </ul>
                </div>
            </div>
        </div>
        <div id="overlayScoreboard">
            <div class="scoreboardRowOverlay">
                <div class="scoreboardItemOverlay">HOME</div>
                <div class="scoreboardItemOverlay">AWAY</div>
            </div>
            <div class="scoreboardRowOverlay">
                <div class="scoreboardItemOverlay" ng-model="homeScore">{{homeScore}}</div>
                <div class="scoreboardItemOverlay" ng-model="gameTime">{{gameTime}}</div>
                <div class="scoreboardItemOverlay" ng-model="awayScore">{{awayScore}}</div>
            </div>
            <div class="scoreboardRowOverlay">Quaffle: {{curOD | statNameFilter}} </div>
            <div class="scoreboardRowOverlay">Bludgers: {{curControl | statNameFilter}} </div>
        </div>
        <div id="overlayStatsList">
            <div class="statsListItem" ng-repeat="statObj in displayStats">
                <p ng-show="statObj.player_name != 'null'">{{statObj.stat_name | statNameFilter}}: {{statObj.player_display_name}}</p>
                <p ng-show="statObj.player_name == 'null'">{{statObj.stat_name | statNameFilter}}</p>
                <!--Substitution type event-->
                <p ng-show="statObj.stat_name == 'SUB' || statObj.stat_name == 'SWAP'">In: {{statObj.player_in_display_name}}</p>
                
                <!--Possession Stuff-->
                <p ng-show="statObj.stat_name == 'OFFENSE'"></p>
                <p ng-show="statObj.stat_name == 'DEFENSE'"></p>
                
                <!--Note Stuff-->
                <p ng-show="statObj.stat_name == 'NOTE'">{{statObj.o_d_filter}}</p>
                <p ng-show="statObj.stat_name == 'NOTE'">{{statObj.good_bad_filter}}</p>
                <p class="clickList" ng-click="showNote($index)" ng-show="statObj.stat_name == 'NOTE'">Click to see note text</p>

                <div class="timeOnStatColumn">
                    <p ng-click="seekToTime(statObj.stat_name, statObj.time)">{{statObj.time | time:'ss':'mm:ss'}}</p>
                </div>
            </div>
        </div>
        <div class="filters">
            <div class="filter">
                <select ng-model="playerFilter" ng-change="filterEvents('players')">
                    <option value="allPlayers">All Players</option>
                    <option ng-repeat="player in allHomePlayers" value="{{player.objectId}}">{{player.first_name + ' ' + player.last_name}}</option>
                </select>
            </div>
            <div class="filter">
                <select ng-model="eventFilter" ng-change="filterEvents('events')">
                    <option value="allEvents">All Events</option>
                    <option value="SHOT">Shots</option>
                    <option value="GOAL">Goals</option>
                    <option value="ASSIST">Assists</option>
                    <option value="TAKEAWAY">Takeaway</option>
                    <option value="TURNOVER">Turnover</option>
                    <option value="SUB">Sub</option>
                    <option value="AWAY_GOAL">Away Goals</option>
                    <option value="NOTE">Notes</option>
                    <option value="GAIN_CONTROL">Gain Control</option>
                    <option value="LOSE_CONTROL">Lose Control</option>
                    <option value="OFFENSE">Offensive Possesions</option>
                    <option value="DEFENSE">Defensive Possesion</option>
                </select>
        </div>
        </div>
    </div>



</div>

<div id="helpText" class="white_content">
	<a href="javascript:void(0)" ng-click="closeDialog('helpText')">Close<br></a>
	<h3>This page is experimental. I recommend being familiar with the regular style before going through this.</h3>
	<h3>Good news, all stats are treated equally. Stats taken in the regular mode will show up here, and vice-versa.</h3>
	<h4>This page is for recording stats for a given game.</h4>
	<h5>1. Select a team from the dropdown menu. Then, the next dropdown will automatically populate with all the games stored for that particular team.</h5>
	<p>Don't see the game you want? Try adding it using the 'Video' tab</p>
	<h5>2. Once your game is selected, the video will automatically load.</h5>
	<h5>3. If this is the first time you are taking stats on a game, the players that load will be 'chaserA', 'chaserB', and so on. Those are dummy players.</h5>
	<h5>4. Now that everything has loaded, it's time to take stats.</h5>
	<p>a. First step, sub in the starters. Click on a player to sub them in and out.</p>
	<p>b. Next, use the lists underneath the video to add stats as they happen.</p>
	<p>Stats are added with the time stamp on the video, so make sure you mark when things happen properly.</p>
	<p>For an explanation of some the more confusing options, see below.</p>
	<p>c. For seekers, click 'Seekers Released' when appropriate, then sub in the seeker on the left hand side.</p>
	<p>d. When you're done, make sure you mark the snitch catch. The snitch catch happens BEFORE a 'Pause Clock'.</p>
	<h4>Explanations:</h4>
	<h5>1. Start Offense Against...</h5>
	<p>a. This is meant to be when a possession starts, and how many bludgers the DEFENSE has. The 'offense' is the team the stats are being recorded for.</p>
	<p>b. If the defense changes the amount of bludgers they have, DON'T start a new possession.</p>
	<h5>2. Start Drive Against...</h5>
	<p>a. This is meant to be when the offense actually begins a drive at the defenses hoops. Again, mark how many bludgers the defense has. This doesn't have to be equal to the amount at the start of the possession.</p>
	<h5>3. Start Defense With...</h5>
	<p>a. Similar to 'Start Offense Against...', but this time for defense. Again, mark the bludgers the DEFENSE has.</p>
	<h5>4. Start Opponent Drive Against...</h5>
	<p>a. Same as 'Start Drive Against...', but this time it's when the opponent actually attempts to score.</p>
	<h4>Cards and notes currently are disabled. They will be added eventually.</h4>
	<a href="javascript:void(0)" ng-click="closeDialog('helpText')">Close<br></a>
</div>
<div id="fade" class="black_overlay"/>