.nav {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: #940000;
}

.nav a:hover{
  
}

.nav a.active {
  background-color: #fff;
  color: #940000;
  cursor: default;
}

.username {
  text-align: center;
  color: #940000;
}

.help {
  float: right;
  padding-right: 5px;
}

snap-content {
  background-color: #fff;
  border-left: 1px solid #ccc;
}

snap-drawer {
  
}
