#overlayFullBody {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
}

#overlayVideoContainer {
    min-width: 700px;
    order: 1;
    flex: 1 1 auto;
    height: 100%;
    position: relative;
}

#overlayRostersColumn {
    min-width: 150px;
    flex: 0 1 auto;
    order: 2;
}

#overlayScoreboardAndStatsColumn {
    min-width: 150px;
    flex: 0 1 auto;
    order: 3;
}

