#overlayFullBody {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: row;
}

#overlayVideoContainer {
    min-width: 700px;
    order: 1;
    flex: 1 1 auto;
    height: 100%;
    position: relative;
}

#overlayRostersColumn {
    min-width: 150px;
    flex: 0 1 auto;
    order: 2;
}

#overlayScoreboardAndStatsColumn {
    min-width: 150px;
    flex: 0 1 auto;
    order: 3;
}

#allHomePlayersPicker {
    flex-direction: row;
}

.overlayPicker {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.columnPicker {
    display: flex;
    flex-direction: column;
}

.columnPicker > button {
    margin-bottom: 20px;
}

.statColumnPicker {
    flex: 0 1 auto;
    order: 1
}

.subColumnPicker {
    flex: 1 1 auto;
    order: 2;
    flex-wrap: wrap;
    align-items: center;
}

