.timeOnStatColumn > p {
	display: inline-block;
	padding: 5px;
}

.clickList:hover {
	background: red;
}

#statsList {
    text-align: center;
    /*margin: 0px auto;*/
    height: 400px;
    width: 200px;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 5px
}

#statsList > div {
	/*display: inline-block;*/
	border: solid 1px black;
	width: 175px;
	margin-bottom: 5px;
}


.playerList {
	list-style: none;
	float: left;
}

