.timeOnStatColumn > p {
	display: inline-block;
	padding: 5px;
	text-decoration: underline;
}

.timeOnStatColumn > p:hover {
	cursor: pointer;
}

.clickList:hover {
	color: red;
	cursor: pointer;
}

#statsList {
    text-align: center;
    /*margin: 0px auto;*/
    height: 350px;
    width: 200px;
    overflow-x: scroll;
    white-space: nowrap;
    padding: 5px
}

#statsList > div {
	/*display: inline-block;*/
	border: solid 1px black;
	width: 175px;
	margin-bottom: 5px;
}


.playerList {
	list-style: none;
	float: left;
}

.playersOnPitch {
	width: 1000px;
}
