#vidContainer > div {
    display: inline-block;
}

#vidContainer {
    width: 100%;
    white-space: nowrap;
}

.video {
    width: 800px;
}

.score > p {
}

#scoreboard > div {
	display: inline-block;
}

#scoreboard {
    white-space: nowrap;
}
