#watchVidContainerFull {
    display: flex;
    justify-content: center;
}

#watchVideoFull {
    min-width: 700px;
    order: 2;
    flex: 1 1 auto;
    height: 85vh;
    min-height: 390px;
}

#watchVideoFull youtube-video {
    height: 100%;
}